
#wrapper > .left {
    float: none;
    width: 100%;
 	height: auto;
}


code {
	width: 100%;
	z-index:100;
}

#wrapper {
	width: 100%;
	min-width: auto;
	margin: 0 auto;
	height: 100%;
}


.left .avatar {
	width: 30%;
	border-radius: 100%;
	margin: 1em auto;
	display: block;
}

#wrapper > .right {
	float: none;
	width: 100%;
	height: auto;
	padding: 0.5em;
	color: #fff;
	background: linear-gradient(to right, rgba(0, 0, 0, 0.1) 5%, transparent 95%);
}

#content {
	overflow-y: none;
	overflow-x: hidden;
}


#content > article {
	padding: 1.5em 0.3em;
	margin: 0;
}
